*
!.*
!.*/**

.files
.*hist*
.*/**/*hist*
.*cache*
.*/**/*cache*
.*auth*
.*/**/*auth*
.*token*
.*/**/*token*
.*cookie*
.*/**/*cookie*
.Trash
.**.bak

.anaconda
.cargo
.docfetcher
.dropbox
.g
.gem
.go
.ipy*
.lesshst
# .mume
.npm
.nutstore
.nvm
.oracle_jre_usage
.pyenv
.pylint.d
.rnd
.slime_paste
.swt
.texlive*
.ticktick
.tldrc
.vimtmp
.wget-hsts
.z
.zsh_sessions
.oh-my-zsh
.bash_sessions
.zcompdump

# Specific files
.CFUserTextEncoding
.CanvasSync.pw
.DS_Store
.config/coc/extensions

.jupyter/*
!.jupyter/*config.py
.vscode/*
!.vscode/*.json
.vscode-R/*
!.vscode-R/*.json
.local
.rustup/*
!.rustup/*.toml
.logseq
.khoj/*
!.khoj/*.yml
.ssh/*
!.ssh/config
.picgo/*
!.picgo/config.json
.ShadowsocksX-NG/*
!.ShadowsocksX-NG/user-rule.txt
.config/clash/*
!.config/clash/*.yaml
.config/coc/*
!.config/coc/settings.json
.config/github-copilot/hosts.json
.fonts/**.ttf
.snipaste/*
!.snipaste/config.ini
.elinks/*
!.elinks/bookmarks
.links/*
!.links/bookmarks.html
!.links/links.cfg

