# source dracula.config
startup_commands toggle_custom_color
custom_color_contrast 0.3
custom_color_mode_empty_background_color #1b1b1b
page_separator_color #1b1b1b
page_separator_width 10
custom_background_color #282828
# custom_text_color #fbf1c7
# custom_text_color #ddc7a1
custom_text_color #F1DBB5
# search_highlight_color #7ec16e
search_highlight_color #89b482
# status_bar_color #427b58
status_bar_color #504945
status_bar_text_color #fbf1c7
should_launch_new_window 1
inverted_horizontal_scrolling 1
